<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Scomment #<%= @scomment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/scomments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link scomment start -->
      <div class="col">
        <a href="/scomments/<%= @scomment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit scomment
        </a>
      </div>
      <!-- Edit link scomment end -->

      <!-- Delete link scomment start -->
      <div class="col">
        <a href="/delete_scomment/<%= @scomment.id %>" class="btn btn-block btn-outline-secondary">
          Delete scomment
        </a>
      </div>
      <!-- Delete link scomment end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @scomment.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Solution
      </dt>
      <!-- Display solution_id start -->
      <dd>
        <%= @scomment.solution_id %>
      </dd>
      <!-- Display solution_id end -->

      <dt>
        Message
      </dt>
      <!-- Display message start -->
      <dd>
        <%= @scomment.message %>
      </dd>
      <!-- Display message end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@scomment.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@scomment.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
