<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All brands
    </h1>

    <a href="/brands/new" class="btn btn-block btn-outline-secondary">
      Add a new brand
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @brands.each do |brand| %>
      <tr>
        <!-- Display brand.id start -->
        <td>
          <%= brand.id %>
        </td>
        <!-- Display brand.id end -->

        <!-- Display brand.name start -->
        <td>
          <%= brand.name %>
        </td>
        <!-- Display brand.name end -->

        <!-- Display brand.description start -->
        <td>
          <%= brand.description %>
        </td>
        <!-- Display brand.description end -->

        <!-- Display brand.created_at start -->
        <td>
          <%= time_ago_in_words(brand.created_at) %> ago
        </td>
        <!-- Display brand.created_at end -->

        <!-- Display brand.updated_at start -->
        <td>
          <%= time_ago_in_words(brand.updated_at) %> ago
        </td>
        <!-- Display brand.updated_at end -->

        <td>
          <a href="/brands/<%= brand.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @brands, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
