<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All brands
    </h1>

    <a href="/brands/new" class="btn btn-block btn-outline-secondary">
      Add a new brand
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "brand_templates/brands_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @brands.each do |brand| %>
      <tr>
        <td>
          <%= brand.id %>
        </td>

        <td>
          <%= brand.name %>
        </td>

        <td>
          <%= brand.description %>
        </td>

        <td>
          <%= time_ago_in_words(brand.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(brand.updated_at) %> ago
        </td>

        <td>
          <a href="/brands/<%= brand.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @brands, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
