<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All customer segments
    </h1>

    <a href="/customer_segments/new" class="btn btn-block btn-outline-secondary">
      Add a new customer segment
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "customer_segment_templates/customer_segments_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Code
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @customer_segments.each do |customer_segment| %>
      <tr>
        <td>
          <%= customer_segment.id %>
        </td>

        <td>
          <%= customer_segment.name %>
        </td>

        <td>
          <%= customer_segment.code %>
        </td>

        <td>
          <%= customer_segment.description %>
        </td>

        <td>
          <%= time_ago_in_words(customer_segment.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(customer_segment.updated_at) %> ago
        </td>

        <td>
          <a href="/customer_segments/<%= customer_segment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @customer_segments, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
