<% if @solution.present? %>
  <% if @solution.errors.any? %>
    <% @solution.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new solution
</h1>


<hr>

<form action="/create_solution" method="post">

  <div class="form-group">
    <label for="complain_id">
      Complain
    </label>

    <input type="text" id="complain_id" name="complain_id" class="form-control" value="<%= @solution.complain_id %>">
  </div>

  <div class="form-group">
    <label for="message">
      Message
    </label>

    <textarea id="message" name="message" class="form-control" rows="3"><%= @solution.message %></textarea>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="close">
    <input id="close" class="form-check-input" name="close" type="checkbox" <%= "checked" if @solution.close %>>
    <label for="close" class="form-check-label">
      Close
    </label>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @solution.user_id %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="like">
    <input id="like" class="form-check-input" name="like" type="checkbox" <%= "checked" if @solution.like %>>
    <label for="like" class="form-check-label">
      Like
    </label>
  </div>

  <div class="form-group">
    <label for="scomment_id">
      Scomment
    </label>

    <input type="text" id="scomment_id" name="scomment_id" class="form-control" value="<%= @solution.scomment_id %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @solution.title %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
