<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Complaintype #<%= @complaintype.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/complaintypes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/complaintypes/<%= @complaintype.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit complaintype
        </a>
      </div>

      <div class="col">
        <a href="/delete_complaintype/<%= @complaintype.id %>" class="btn btn-block btn-outline-secondary">
          Delete complaintype
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @complaintype.title %>
      </dd>

      <dt>
        Code
      </dt>
      <dd>
        <%= @complaintype.code %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @complaintype.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@complaintype.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@complaintype.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

