<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Subcategory #<%= @subcategory.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/subcategories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/subcategories/<%= @subcategory.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit subcategory
        </a>
      </div>

      <div class="col">
        <a href="/delete_subcategory/<%= @subcategory.id %>" class="btn btn-block btn-outline-secondary">
          Delete subcategory
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <%= @subcategory.category_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @subcategory.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @subcategory.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@subcategory.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@subcategory.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

