<!-- Validation failure messages -->
<% if @salsterr.errors.any? %>
  <% @salsterr.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit salsterr #<%= @salsterr.id %>
</h1>

<hr>

<!-- Form salsterr start -->
<form action="/update_salsterr/<%= @salsterr.id %>" method="post">
<!-- Form salsterr end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @salsterr.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for code start -->
  <div class="form-group">
    <label for="code">
      Code
    </label>

    <!-- Input for code start -->
    <input type="text" id="code" name="code" class="form-control" value="<%= @salsterr.code %>">
    <!-- Input for code end -->
  </div>
  <!-- Label and input for code end -->

  <button class="btn btn-block btn-outline-secondary">
    Update salsterr
  </button>
</form>

<hr>

<a href="/salsterrs">
  Go back
</a>
