<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Product #<%= @product.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/products" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/products/<%= @product.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit product
        </a>
      </div>

      <div class="col">
        <a href="/delete_product/<%= @product.id %>" class="btn btn-block btn-outline-secondary">
          Delete product
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Itemnmbr
      </dt>
      <dd>
        <%= @product.itemnmbr %>
      </dd>

      <dt>
        Parent sku
      </dt>
      <dd>
        <%= @product.parent_sku %>
      </dd>

      <dt>
        Relationship type
      </dt>
      <dd>
        <%= @product.relationship_type %>
      </dd>

      <dt>
        Sku parent related
      </dt>
      <dd>
        <%= @product.sku_parent_related %>
      </dd>

      <dt>
        Item sku nuevo
      </dt>
      <dd>
        <%= @product.item_sku_nuevo %>
      </dd>

      <dt>
        Barcode
      </dt>
      <dd>
        <%= @product.barcode %>
      </dd>

      <dt>
        Brand
      </dt>
      <dd>
        <%= @product.brand_id %>
      </dd>

      <dt>
        Item name
      </dt>
      <dd>
        <%= @product.item_name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @product.category_id %>
      </dd>

      <dt>
        Productline
      </dt>
      <dd>
        <%= @product.productline_id %>
      </dd>

      <dt>
        Subcategory
      </dt>
      <dd>
        <%= @product.subcategory_id %>
      </dd>

      <dt>
        Product description
      </dt>
      <dd>
        <%= @product.product_description %>
      </dd>

      <dt>
        Product short description
      </dt>
      <dd>
        <%= @product.product_short_description %>
      </dd>

      <dt>
        Model
      </dt>
      <dd>
        <%= @product.model %>
      </dd>

      <dt>
        Product includes
      </dt>
      <dd>
        <%= @product.product_includes %>
      </dd>

      <dt>
        Product warranty
      </dt>
      <dd>
        <%= @product.product_warranty %>
      </dd>

      <dt>
        Product weight
      </dt>
      <dd>
        <%= @product.product_weight %>
      </dd>

      <dt>
        Product width
      </dt>
      <dd>
        <%= @product.product_width %>
      </dd>

      <dt>
        Product length
      </dt>
      <dd>
        <%= @product.product_length %>
      </dd>

      <dt>
        Product height
      </dt>
      <dd>
        <%= @product.product_height %>
      </dd>

      <dt>
        Product volume
      </dt>
      <dd>
        <%= @product.product_volume %>
      </dd>

      <dt>
        Product distribution volume
      </dt>
      <dd>
        <%= @product.product_distribution_volume %>
      </dd>

      <dt>
        Product new date start
      </dt>
      <dd>
        <%= @product.product_new_date_start %>
      </dd>

      <dt>
        Product new date ends
      </dt>
      <dd>
        <%= @product.product_new_date_ends %>
      </dd>

      <dt>
        Max order quantity
      </dt>
      <dd>
        <%= @product.max_order_quantity %>
      </dd>

      <dt>
        Standard price
      </dt>
      <dd>
        <%= @product.standard_price %>
      </dd>

      <dt>
        List price
      </dt>
      <dd>
        <%= @product.list_price %>
      </dd>

      <dt>
        Attributes bullet point1
      </dt>
      <dd>
        <%= @product.attributes_bullet_point1 %>
      </dd>

      <dt>
        Attributes bullet point2
      </dt>
      <dd>
        <%= @product.attributes_bullet_point2 %>
      </dd>

      <dt>
        Attributes bullet point3
      </dt>
      <dd>
        <%= @product.attributes_bullet_point3 %>
      </dd>

      <dt>
        Attributes bullet point4
      </dt>
      <dd>
        <%= @product.attributes_bullet_point4 %>
      </dd>

      <dt>
        Attributes bullet point5
      </dt>
      <dd>
        <%= @product.attributes_bullet_point5 %>
      </dd>

      <dt>
        Generic keywords1
      </dt>
      <dd>
        <%= @product.generic_keywords1 %>
      </dd>

      <dt>
        Generic keywords2
      </dt>
      <dd>
        <%= @product.generic_keywords2 %>
      </dd>

      <dt>
        Generic keywords3
      </dt>
      <dd>
        <%= @product.generic_keywords3 %>
      </dd>

      <dt>
        Generic keywords4
      </dt>
      <dd>
        <%= @product.generic_keywords4 %>
      </dd>

      <dt>
        Main image url
      </dt>
      <dd>
        <%= @product.main_image_url %>
      </dd>

      <dt>
        Left image url1
      </dt>
      <dd>
        <%= @product.left_image_url1 %>
      </dd>

      <dt>
        Right image url2
      </dt>
      <dd>
        <%= @product.right_image_url2 %>
      </dd>

      <dt>
        Back image url3
      </dt>
      <dd>
        <%= @product.back_image_url3 %>
      </dd>

      <dt>
        Use1 image url4
      </dt>
      <dd>
        <%= @product.use1_image_url4 %>
      </dd>

      <dt>
        Use2 image url5
      </dt>
      <dd>
        <%= @product.use2_image_url5 %>
      </dd>

      <dt>
        Use3 image url5
      </dt>
      <dd>
        <%= @product.use3_image_url5 %>
      </dd>

      <dt>
        Link sku related1
      </dt>
      <dd>
        <%= @product.link_sku_related1 %>
      </dd>

      <dt>
        Link sku related2
      </dt>
      <dd>
        <%= @product.link_sku_related2 %>
      </dd>

      <dt>
        Link sku related3
      </dt>
      <dd>
        <%= @product.link_sku_related3 %>
      </dd>

      <dt>
        Link sku upsell1
      </dt>
      <dd>
        <%= @product.link_sku_upsell1 %>
      </dd>

      <dt>
        Link sku upsell2
      </dt>
      <dd>
        <%= @product.link_sku_upsell2 %>
      </dd>

      <dt>
        Link sku upsell3
      </dt>
      <dd>
        <%= @product.link_sku_upsell3 %>
      </dd>

      <dt>
        Link sku crosssell1
      </dt>
      <dd>
        <%= @product.link_sku_crosssell1 %>
      </dd>

      <dt>
        Link sku crosssell2
      </dt>
      <dd>
        <%= @product.link_sku_crosssell2 %>
      </dd>

      <dt>
        Link sku crosssell3
      </dt>
      <dd>
        <%= @product.link_sku_crosssell3 %>
      </dd>

      <dt>
        Keywords
      </dt>
      <dd>
        <%= @product.keywords %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

