<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Product #<%= @product.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/products" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link product start -->
      <div class="col">
        <a href="/products/<%= @product.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit product
        </a>
      </div>
      <!-- Edit link product end -->

      <!-- Delete link product start -->
      <div class="col">
        <a href="/delete_product/<%= @product.id %>" class="btn btn-block btn-outline-secondary">
          Delete product
        </a>
      </div>
      <!-- Delete link product end -->
    </div>

    <dl>
      <dt>
        Itemnmbr
      </dt>
      <!-- Display itemnmbr start -->
      <dd>
        <%= @product.itemnmbr %>
      </dd>
      <!-- Display itemnmbr end -->

      <dt>
        Parent sku
      </dt>
      <!-- Display parent_sku start -->
      <dd>
        <%= @product.parent_sku %>
      </dd>
      <!-- Display parent_sku end -->

      <dt>
        Relationship type
      </dt>
      <!-- Display relationship_type start -->
      <dd>
        <%= @product.relationship_type %>
      </dd>
      <!-- Display relationship_type end -->

      <dt>
        Sku parent related
      </dt>
      <!-- Display sku_parent_related start -->
      <dd>
        <%= @product.sku_parent_related %>
      </dd>
      <!-- Display sku_parent_related end -->

      <dt>
        Item sku nuevo
      </dt>
      <!-- Display item_sku_nuevo start -->
      <dd>
        <%= @product.item_sku_nuevo %>
      </dd>
      <!-- Display item_sku_nuevo end -->

      <dt>
        Barcode
      </dt>
      <!-- Display barcode start -->
      <dd>
        <%= @product.barcode %>
      </dd>
      <!-- Display barcode end -->

      <dt>
        Brand
      </dt>
      <!-- Display brand_id start -->
      <dd>
        <%= @product.brand_id %>
      </dd>
      <!-- Display brand_id end -->

      <dt>
        Item name
      </dt>
      <!-- Display item_name start -->
      <dd>
        <%= @product.item_name %>
      </dd>
      <!-- Display item_name end -->

      <dt>
        Category
      </dt>
      <!-- Display category_id start -->
      <dd>
        <%= @product.category_id %>
      </dd>
      <!-- Display category_id end -->

      <dt>
        Productline
      </dt>
      <!-- Display productline_id start -->
      <dd>
        <%= @product.productline_id %>
      </dd>
      <!-- Display productline_id end -->

      <dt>
        Subcategory
      </dt>
      <!-- Display subcategory_id start -->
      <dd>
        <%= @product.subcategory_id %>
      </dd>
      <!-- Display subcategory_id end -->

      <dt>
        Product description
      </dt>
      <!-- Display product_description start -->
      <dd>
        <%= @product.product_description %>
      </dd>
      <!-- Display product_description end -->

      <dt>
        Product short description
      </dt>
      <!-- Display product_short_description start -->
      <dd>
        <%= @product.product_short_description %>
      </dd>
      <!-- Display product_short_description end -->

      <dt>
        Model
      </dt>
      <!-- Display model start -->
      <dd>
        <%= @product.model %>
      </dd>
      <!-- Display model end -->

      <dt>
        Product includes
      </dt>
      <!-- Display product_includes start -->
      <dd>
        <%= @product.product_includes %>
      </dd>
      <!-- Display product_includes end -->

      <dt>
        Product warranty
      </dt>
      <!-- Display product_warranty start -->
      <dd>
        <%= @product.product_warranty %>
      </dd>
      <!-- Display product_warranty end -->

      <dt>
        Product weight
      </dt>
      <!-- Display product_weight start -->
      <dd>
        <%= @product.product_weight %>
      </dd>
      <!-- Display product_weight end -->

      <dt>
        Product width
      </dt>
      <!-- Display product_width start -->
      <dd>
        <%= @product.product_width %>
      </dd>
      <!-- Display product_width end -->

      <dt>
        Product length
      </dt>
      <!-- Display product_length start -->
      <dd>
        <%= @product.product_length %>
      </dd>
      <!-- Display product_length end -->

      <dt>
        Product height
      </dt>
      <!-- Display product_height start -->
      <dd>
        <%= @product.product_height %>
      </dd>
      <!-- Display product_height end -->

      <dt>
        Product volume
      </dt>
      <!-- Display product_volume start -->
      <dd>
        <%= @product.product_volume %>
      </dd>
      <!-- Display product_volume end -->

      <dt>
        Product distribution volume
      </dt>
      <!-- Display product_distribution_volume start -->
      <dd>
        <%= @product.product_distribution_volume %>
      </dd>
      <!-- Display product_distribution_volume end -->

      <dt>
        Product new date start
      </dt>
      <!-- Display product_new_date_start start -->
      <dd>
        <%= @product.product_new_date_start %>
      </dd>
      <!-- Display product_new_date_start end -->

      <dt>
        Product new date ends
      </dt>
      <!-- Display product_new_date_ends start -->
      <dd>
        <%= @product.product_new_date_ends %>
      </dd>
      <!-- Display product_new_date_ends end -->

      <dt>
        Max order quantity
      </dt>
      <!-- Display max_order_quantity start -->
      <dd>
        <%= @product.max_order_quantity %>
      </dd>
      <!-- Display max_order_quantity end -->

      <dt>
        Standard price
      </dt>
      <!-- Display standard_price start -->
      <dd>
        <%= @product.standard_price %>
      </dd>
      <!-- Display standard_price end -->

      <dt>
        List price
      </dt>
      <!-- Display list_price start -->
      <dd>
        <%= @product.list_price %>
      </dd>
      <!-- Display list_price end -->

      <dt>
        Attributes bullet point1
      </dt>
      <!-- Display attributes_bullet_point1 start -->
      <dd>
        <%= @product.attributes_bullet_point1 %>
      </dd>
      <!-- Display attributes_bullet_point1 end -->

      <dt>
        Attributes bullet point2
      </dt>
      <!-- Display attributes_bullet_point2 start -->
      <dd>
        <%= @product.attributes_bullet_point2 %>
      </dd>
      <!-- Display attributes_bullet_point2 end -->

      <dt>
        Attributes bullet point3
      </dt>
      <!-- Display attributes_bullet_point3 start -->
      <dd>
        <%= @product.attributes_bullet_point3 %>
      </dd>
      <!-- Display attributes_bullet_point3 end -->

      <dt>
        Attributes bullet point4
      </dt>
      <!-- Display attributes_bullet_point4 start -->
      <dd>
        <%= @product.attributes_bullet_point4 %>
      </dd>
      <!-- Display attributes_bullet_point4 end -->

      <dt>
        Attributes bullet point5
      </dt>
      <!-- Display attributes_bullet_point5 start -->
      <dd>
        <%= @product.attributes_bullet_point5 %>
      </dd>
      <!-- Display attributes_bullet_point5 end -->

      <dt>
        Generic keywords1
      </dt>
      <!-- Display generic_keywords1 start -->
      <dd>
        <%= @product.generic_keywords1 %>
      </dd>
      <!-- Display generic_keywords1 end -->

      <dt>
        Generic keywords2
      </dt>
      <!-- Display generic_keywords2 start -->
      <dd>
        <%= @product.generic_keywords2 %>
      </dd>
      <!-- Display generic_keywords2 end -->

      <dt>
        Generic keywords3
      </dt>
      <!-- Display generic_keywords3 start -->
      <dd>
        <%= @product.generic_keywords3 %>
      </dd>
      <!-- Display generic_keywords3 end -->

      <dt>
        Generic keywords4
      </dt>
      <!-- Display generic_keywords4 start -->
      <dd>
        <%= @product.generic_keywords4 %>
      </dd>
      <!-- Display generic_keywords4 end -->

      <dt>
        Main image url
      </dt>
      <!-- Display main_image_url start -->
      <dd>
        <%= @product.main_image_url %>
      </dd>
      <!-- Display main_image_url end -->

      <dt>
        Left image url1
      </dt>
      <!-- Display left_image_url1 start -->
      <dd>
        <%= @product.left_image_url1 %>
      </dd>
      <!-- Display left_image_url1 end -->

      <dt>
        Right image url2
      </dt>
      <!-- Display right_image_url2 start -->
      <dd>
        <%= @product.right_image_url2 %>
      </dd>
      <!-- Display right_image_url2 end -->

      <dt>
        Back image url3
      </dt>
      <!-- Display back_image_url3 start -->
      <dd>
        <%= @product.back_image_url3 %>
      </dd>
      <!-- Display back_image_url3 end -->

      <dt>
        Use1 image url4
      </dt>
      <!-- Display use1_image_url4 start -->
      <dd>
        <%= @product.use1_image_url4 %>
      </dd>
      <!-- Display use1_image_url4 end -->

      <dt>
        Use2 image url5
      </dt>
      <!-- Display use2_image_url5 start -->
      <dd>
        <%= @product.use2_image_url5 %>
      </dd>
      <!-- Display use2_image_url5 end -->

      <dt>
        Use3 image url5
      </dt>
      <!-- Display use3_image_url5 start -->
      <dd>
        <%= @product.use3_image_url5 %>
      </dd>
      <!-- Display use3_image_url5 end -->

      <dt>
        Link sku related1
      </dt>
      <!-- Display link_sku_related1 start -->
      <dd>
        <%= @product.link_sku_related1 %>
      </dd>
      <!-- Display link_sku_related1 end -->

      <dt>
        Link sku related2
      </dt>
      <!-- Display link_sku_related2 start -->
      <dd>
        <%= @product.link_sku_related2 %>
      </dd>
      <!-- Display link_sku_related2 end -->

      <dt>
        Link sku related3
      </dt>
      <!-- Display link_sku_related3 start -->
      <dd>
        <%= @product.link_sku_related3 %>
      </dd>
      <!-- Display link_sku_related3 end -->

      <dt>
        Link sku upsell1
      </dt>
      <!-- Display link_sku_upsell1 start -->
      <dd>
        <%= @product.link_sku_upsell1 %>
      </dd>
      <!-- Display link_sku_upsell1 end -->

      <dt>
        Link sku upsell2
      </dt>
      <!-- Display link_sku_upsell2 start -->
      <dd>
        <%= @product.link_sku_upsell2 %>
      </dd>
      <!-- Display link_sku_upsell2 end -->

      <dt>
        Link sku upsell3
      </dt>
      <!-- Display link_sku_upsell3 start -->
      <dd>
        <%= @product.link_sku_upsell3 %>
      </dd>
      <!-- Display link_sku_upsell3 end -->

      <dt>
        Link sku crosssell1
      </dt>
      <!-- Display link_sku_crosssell1 start -->
      <dd>
        <%= @product.link_sku_crosssell1 %>
      </dd>
      <!-- Display link_sku_crosssell1 end -->

      <dt>
        Link sku crosssell2
      </dt>
      <!-- Display link_sku_crosssell2 start -->
      <dd>
        <%= @product.link_sku_crosssell2 %>
      </dd>
      <!-- Display link_sku_crosssell2 end -->

      <dt>
        Link sku crosssell3
      </dt>
      <!-- Display link_sku_crosssell3 start -->
      <dd>
        <%= @product.link_sku_crosssell3 %>
      </dd>
      <!-- Display link_sku_crosssell3 end -->

      <dt>
        Keywords
      </dt>
      <!-- Display keywords start -->
      <dd>
        <%= @product.keywords %>
      </dd>
      <!-- Display keywords end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@product.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@product.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
