<h1>
  Edit productline #<%= @productline.id %>
</h1>

<hr>

<form action="/update_productline/<%= @productline.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @productline.name %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @productline.description %>">
  </div>

  <div class="form-group">
    <label for="subcategory_id">
      Subcategory
    </label>

    <input type="text" id="subcategory_id" name="subcategory_id" class="form-control" value="<%= @productline.subcategory_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update productline
  </button>
</form>

<hr>

<a href="/productlines">
  Go back
</a>
