<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Budget #<%= @budget.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/budgets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link budget start -->
      <div class="col">
        <a href="/budgets/<%= @budget.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit budget
        </a>
      </div>
      <!-- Edit link budget end -->

      <!-- Delete link budget start -->
      <div class="col">
        <a href="/delete_budget/<%= @budget.id %>" class="btn btn-block btn-outline-secondary">
          Delete budget
        </a>
      </div>
      <!-- Delete link budget end -->
    </div>

    <dl>
      <dt>
        Year
      </dt>
      <!-- Display year start -->
      <dd>
        <%= @budget.year %>
      </dd>
      <!-- Display year end -->

      <dt>
        Custnmbr
      </dt>
      <!-- Display custnmbr start -->
      <dd>
        <%= @budget.custnmbr %>
      </dd>
      <!-- Display custnmbr end -->

      <dt>
        Salsterr
      </dt>
      <!-- Display salsterr start -->
      <dd>
        <%= @budget.salsterr %>
      </dd>
      <!-- Display salsterr end -->

      <dt>
        Gerente
      </dt>
      <!-- Display gerente start -->
      <dd>
        <%= @budget.gerente %>
      </dd>
      <!-- Display gerente end -->

      <dt>
        Slprsnid
      </dt>
      <!-- Display slprsnid start -->
      <dd>
        <%= @budget.slprsnid %>
      </dd>
      <!-- Display slprsnid end -->

      <dt>
        Sopnumbe
      </dt>
      <!-- Display sopnumbe start -->
      <dd>
        <%= @budget.sopnumbe %>
      </dd>
      <!-- Display sopnumbe end -->

      <dt>
        Ene
      </dt>
      <!-- Display ene start -->
      <dd>
        <%= @budget.ene %>
      </dd>
      <!-- Display ene end -->

      <dt>
        Feb
      </dt>
      <!-- Display feb start -->
      <dd>
        <%= @budget.feb %>
      </dd>
      <!-- Display feb end -->

      <dt>
        Mar
      </dt>
      <!-- Display mar start -->
      <dd>
        <%= @budget.mar %>
      </dd>
      <!-- Display mar end -->

      <dt>
        Abr
      </dt>
      <!-- Display abr start -->
      <dd>
        <%= @budget.abr %>
      </dd>
      <!-- Display abr end -->

      <dt>
        May
      </dt>
      <!-- Display may start -->
      <dd>
        <%= @budget.may %>
      </dd>
      <!-- Display may end -->

      <dt>
        Jun
      </dt>
      <!-- Display jun start -->
      <dd>
        <%= @budget.jun %>
      </dd>
      <!-- Display jun end -->

      <dt>
        Jul
      </dt>
      <!-- Display jul start -->
      <dd>
        <%= @budget.jul %>
      </dd>
      <!-- Display jul end -->

      <dt>
        Ago
      </dt>
      <!-- Display ago start -->
      <dd>
        <%= @budget.ago %>
      </dd>
      <!-- Display ago end -->

      <dt>
        Oct
      </dt>
      <!-- Display oct start -->
      <dd>
        <%= @budget.oct %>
      </dd>
      <!-- Display oct end -->

      <dt>
        Sep
      </dt>
      <!-- Display sep start -->
      <dd>
        <%= @budget.sep %>
      </dd>
      <!-- Display sep end -->

      <dt>
        Nov
      </dt>
      <!-- Display nov start -->
      <dd>
        <%= @budget.nov %>
      </dd>
      <!-- Display nov end -->

      <dt>
        Dic
      </dt>
      <!-- Display dic start -->
      <dd>
        <%= @budget.dic %>
      </dd>
      <!-- Display dic end -->

      <dt>
        Total
      </dt>
      <!-- Display total start -->
      <dd>
        <%= @budget.total %>
      </dd>
      <!-- Display total end -->

      <dt>
        Agreement
      </dt>
      <!-- Display agreement_id start -->
      <dd>
        <%= @budget.agreement_id %>
      </dd>
      <!-- Display agreement_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@budget.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@budget.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
