<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Budget #<%= @budget.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/budgets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/budgets/<%= @budget.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit budget
        </a>
      </div>

      <div class="col">
        <a href="/delete_budget/<%= @budget.id %>" class="btn btn-block btn-outline-secondary">
          Delete budget
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Year
      </dt>
      <dd>
        <%= @budget.year %>
      </dd>

      <dt>
        Custnmbr
      </dt>
      <dd>
        <%= @budget.custnmbr %>
      </dd>

      <dt>
        Salsterr
      </dt>
      <dd>
        <%= @budget.salsterr %>
      </dd>

      <dt>
        Gerente
      </dt>
      <dd>
        <%= @budget.gerente %>
      </dd>

      <dt>
        Slprsnid
      </dt>
      <dd>
        <%= @budget.slprsnid %>
      </dd>

      <dt>
        Sopnumbe
      </dt>
      <dd>
        <%= @budget.sopnumbe %>
      </dd>

      <dt>
        Ene
      </dt>
      <dd>
        <%= @budget.ene %>
      </dd>

      <dt>
        Feb
      </dt>
      <dd>
        <%= @budget.feb %>
      </dd>

      <dt>
        Mar
      </dt>
      <dd>
        <%= @budget.mar %>
      </dd>

      <dt>
        Abr
      </dt>
      <dd>
        <%= @budget.abr %>
      </dd>

      <dt>
        May
      </dt>
      <dd>
        <%= @budget.may %>
      </dd>

      <dt>
        Jun
      </dt>
      <dd>
        <%= @budget.jun %>
      </dd>

      <dt>
        Jul
      </dt>
      <dd>
        <%= @budget.jul %>
      </dd>

      <dt>
        Ago
      </dt>
      <dd>
        <%= @budget.ago %>
      </dd>

      <dt>
        Oct
      </dt>
      <dd>
        <%= @budget.oct %>
      </dd>

      <dt>
        Sep
      </dt>
      <dd>
        <%= @budget.sep %>
      </dd>

      <dt>
        Nov
      </dt>
      <dd>
        <%= @budget.nov %>
      </dd>

      <dt>
        Dic
      </dt>
      <dd>
        <%= @budget.dic %>
      </dd>

      <dt>
        Total
      </dt>
      <dd>
        <%= @budget.total %>
      </dd>

      <dt>
        Agreement
      </dt>
      <dd>
        <%= @budget.agreement_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@budget.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@budget.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

