<h1>
  Edit region #<%= @region.id %>
</h1>

<hr>

<form action="/update_region/<%= @region.id %>" method="post">

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control" value="<%= @region.state %>">
  </div>

  <div class="form-group">
    <label for="state_code">
      State code
    </label>

    <input type="text" id="state_code" name="state_code" class="form-control" value="<%= @region.state_code %>">
  </div>

  <div class="form-group">
    <label for="statenmbr">
      Statenmbr
    </label>

    <input type="text" id="statenmbr" name="statenmbr" class="form-control" value="<%= @region.statenmbr %>">
  </div>

  <div class="form-group">
    <label for="salsterr_id">
      Salsterr
    </label>

    <input type="text" id="salsterr_id" name="salsterr_id" class="form-control" value="<%= @region.salsterr_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update region
  </button>
</form>

<hr>

<a href="/regions">
  Go back
</a>
