<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Region #<%= @region.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/regions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/regions/<%= @region.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit region
        </a>
      </div>

      <div class="col">
        <a href="/delete_region/<%= @region.id %>" class="btn btn-block btn-outline-secondary">
          Delete region
        </a>
      </div>
    </div>

    <dl>
      <dt>
        State
      </dt>
      <dd>
        <%= @region.state %>
      </dd>

      <dt>
        State code
      </dt>
      <dd>
        <%= @region.state_code %>
      </dd>

      <dt>
        Statenmbr
      </dt>
      <dd>
        <%= @region.statenmbr %>
      </dd>

      <dt>
        Salsterr
      </dt>
      <dd>
        <%= @region.salsterr_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@region.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@region.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

