<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2 style="color:white">
      Aclaración #<%= @complain.id %>
    </h2>

    <br>

    <div class="container">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title"><b> <%= @complain.title %></b></h4>
        </div>
        <div class="panel-body" style=" padding:0px" align="center">
          <div class="row">
            <div class="col-sm-3"><%= User.find(@complain.user_id).profile.slprsnid %></div>
            <div class="col-sm-3"><%= @complain.complaintype.title %></div>
            <div class="col-sm-3"><%= Department.find(@complain.department_id).name %></div>
            <div class="col-sm-3"><%= @complain.status %></div>
          </div>
          <hr style=" border-top:3px solid #284B63">
          <div class="row">
            <div class="col-sm-8"></div>
          </div>
          <div class="row col-sm-12">
            <div class="boxed col-sm-9">
              <%= @complain.description %>
              <div class="col-xs-3"></div>
            </div>
            <div class="col-xs-3 col-sm-9">
              <div class="" align="left">
                <%= User.find(@complain.user_id).profile.name %> <%= @complain.created_at %>
              </div>
            </div>
          </div>

          <br>
          <div class="row col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">


              <% if @solution == "" %>
              <% else %>
              <% @solution.each do |solution| %>
              <div class="boxed-s">
                <%= solution.message%>
              </div>
              <div class="" align="right">
                <%= User.find(solution.user_id).profile.name%> <%= solution.created_at%>
              </div>
              <br>
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-8" >

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-offset-3 col-sm-8">

            </div>
          </div>
        </div>

      </div>
      <% if @complain.profile_id == current_user.profile.user_id && @complain.solved == false %>

      <form action="/create_solution" method="post">
        <div class="form-group">
          <div class="row">
            <textarea id="message" name="message" class="form-control col-md-10" rows="3"></textarea>

            <input type="hidden" id="complain_id" name="complain_id" class="form-control" value="<%= @complain.id %>">
            <input type="hidden" id="title" name="title" class="form-control" value="Re: <%= @complain.title %>">
            <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            <input type="hidden" value="0" name="close">
            <input id="close" class="form-check-input" name="close" type="hidden">
            <input type="hidden" value="0" name="like">
            <input type="hidden" id="scomment_id" name="scomment_id" class="form-control">
            <button class="btn btn-block btn-outline-primary col-md-2">
              <i class="fas fa-share lg"></i>
            </button>

          </div>
        </div>
      </form>

      <% end %>
      <br>

      <div class="row mb-3">
        <div class="col">
          <div class="btn btn-block btn-outline-secondary">
            <%= link_to "Regresar", :back %>
          </div>

        </div>
        <% if current_user.id == @complain.user_id && @complain.solved == false %>
        <div class="col">
          <a href="/complains/<%= @complain.id %>/edit" class="btn btn-block btn-outline-secondary">
            Editar Aclaración
          </a>
        </div>

        <div class="col">
          <a href="/delete_complain/<%= @complain.id %>" class="btn btn-block btn-outline-secondary">
            Eliminar Aclaración
          </a>
        </div>
      </div>



      <div class="row md-3">
        <div class="col">
          <form action="/update_complain/<%= @complain.id %>" method="post">
            <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= @complain.user_id %>">
            <input type="hidden" id="complaintype_id" name="complaintype_id" class="form-control" value="<%= @complain.complaintype_id %>">
            <input type="hidden" value="1" name="solved">
            <input type="hidden" id="description" name="description" class="form-control" rows="3" value="<%= @complain.description %>">
            <input type="hidden" id="department_id" name="department_id" class="form-control" value="<%= @complain.department_id %>">
            <input type="hidden" id="itemnmbr" name="itemnmbr" class="form-control" value="<%= @complain.itemnmbr %>">
            <input type="hidden" id="sopnumbe" name="sopnumbe" class="form-control" value="<%= @complain.sopnumbe %>">
            <input type="hidden" id="profile_id" name="profile_id" class="form-control" value="<%= @complain.profile_id %>">
            <input type="hidden" id="status" name="status" class="form-control" value="Resuelta">
            <input type="hidden" id="title" name="title" class="form-control" value="<%= @complain.title %>">

            <div class="form-group">
              <label for="calificacion" style="color:white">
                <h4>Calificar la solución de la aclaración </h4>
                <h5>(1=Mala, 2=Regular, 3= Buena, 4=Excelente)   </h5>
              </label>
              <input list="calificacion" id="rating" name="rating" class="form-control" value="<%= @complain.rating %>">
              <datalist class="" id="calificacion">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
              </datalist>
              <button class="btn btn-block btn-outline-secondary">
                Calificar y Cerrar ticket/aclaración
              </button>
            </div>


          </form>
        </div>
      </div>
    </div>


  </div>

  <%end%>
  <!--
    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @complain.user_id %>
      </dd>

      <dt>
        Complaintype
      </dt>
      <dd>
        <%= @complain.complaintype_id %>
      </dd>

      <dt>
        Solved
      </dt>
      <dd>
        <%= @complain.solved %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @complain.description %>
      </dd>

      <dt>
        Department
      </dt>
      <dd>
        <%= @complain.department_id %>
      </dd>

      <dt>
        Itemnmbr
      </dt>
      <dd>
        <%= @complain.itemnmbr %>
      </dd>

      <dt>
        Sopnumbe
      </dt>
      <dd>
        <%= @complain.sopnumbe %>
      </dd>

      <dt>
        Profile
      </dt>
      <dd>
        <%= @complain.profile_id %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @complain.rating %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @complain.status %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @complain.title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@complain.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@complain.updated_at) %> ago
      </dd>
    </dl> -->
  </div>
</div>
