<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All nineteensales
    </h1>

    <a href="/nineteensales/new" class="btn btn-block btn-outline-secondary">
      Add a new nineteensale
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "nineteensale_templates/nineteensales_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Custnmbr
        </th>

        <th>
          Salsterr
        </th>

        <th>
          Slprsnid
        </th>

        <th>
          Gerente
        </th>

        <th>
          Sopnumbe
        </th>

        <th>
          Itemnmbr
        </th>

        <th>
          Vta
        </th>

        <th>
          Cantidad
        </th>

        <th>
          Cost
        </th>

        <th>
          Vta ene
        </th>

        <th>
          Cantidad ene
        </th>

        <th>
          Cost ene
        </th>

        <th>
          Vta feb
        </th>

        <th>
          Cantidad feb
        </th>

        <th>
          Cost feb
        </th>

        <th>
          Vta mar
        </th>

        <th>
          Cantidad mar
        </th>

        <th>
          Cost mar
        </th>

        <th>
          Vta abr
        </th>

        <th>
          Cantidad abr
        </th>

        <th>
          Cost abr
        </th>

        <th>
          Vta may
        </th>

        <th>
          Cantidad may
        </th>

        <th>
          Cost may
        </th>

        <th>
          Vta jun
        </th>

        <th>
          Cantidad jun
        </th>

        <th>
          Cost jun
        </th>

        <th>
          Vta jul
        </th>

        <th>
          Cantidad jul
        </th>

        <th>
          Cost jul
        </th>

        <th>
          Vta ago
        </th>

        <th>
          Cantidad ago
        </th>

        <th>
          Cost ago
        </th>

        <th>
          Vta sep
        </th>

        <th>
          Cantidad sep
        </th>

        <th>
          Cost sep
        </th>

        <th>
          Vta oct
        </th>

        <th>
          Cantidad oct
        </th>

        <th>
          Cost oct
        </th>

        <th>
          Vta nov
        </th>

        <th>
          Cantidad nov
        </th>

        <th>
          Cost nov
        </th>

        <th>
          Vta dic
        </th>

        <th>
          Cantidad dic
        </th>

        <th>
          Cost dic
        </th>

        <th>
          Dia
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @nineteensales.each do |nineteensale| %>
      <tr>
        <td>
          <%= nineteensale.id %>
        </td>

        <td>
          <%= nineteensale.custnmbr %>
        </td>

        <td>
          <%= nineteensale.salsterr %>
        </td>

        <td>
          <%= nineteensale.slprsnid %>
        </td>

        <td>
          <%= nineteensale.gerente %>
        </td>

        <td>
          <%= nineteensale.sopnumbe %>
        </td>

        <td>
          <%= nineteensale.itemnmbr %>
        </td>

        <td>
          <%= nineteensale.vta %>
        </td>

        <td>
          <%= nineteensale.cantidad %>
        </td>

        <td>
          <%= nineteensale.cost %>
        </td>

        <td>
          <%= nineteensale.vta_ene %>
        </td>

        <td>
          <%= nineteensale.cantidad_ene %>
        </td>

        <td>
          <%= nineteensale.cost_ene %>
        </td>

        <td>
          <%= nineteensale.vta_feb %>
        </td>

        <td>
          <%= nineteensale.cantidad_feb %>
        </td>

        <td>
          <%= nineteensale.cost_feb %>
        </td>

        <td>
          <%= nineteensale.vta_mar %>
        </td>

        <td>
          <%= nineteensale.cantidad_mar %>
        </td>

        <td>
          <%= nineteensale.cost_mar %>
        </td>

        <td>
          <%= nineteensale.vta_abr %>
        </td>

        <td>
          <%= nineteensale.cantidad_abr %>
        </td>

        <td>
          <%= nineteensale.cost_abr %>
        </td>

        <td>
          <%= nineteensale.vta_may %>
        </td>

        <td>
          <%= nineteensale.cantidad_may %>
        </td>

        <td>
          <%= nineteensale.cost_may %>
        </td>

        <td>
          <%= nineteensale.vta_jun %>
        </td>

        <td>
          <%= nineteensale.cantidad_jun %>
        </td>

        <td>
          <%= nineteensale.cost_jun %>
        </td>

        <td>
          <%= nineteensale.vta_jul %>
        </td>

        <td>
          <%= nineteensale.cantidad_jul %>
        </td>

        <td>
          <%= nineteensale.cost_jul %>
        </td>

        <td>
          <%= nineteensale.vta_ago %>
        </td>

        <td>
          <%= nineteensale.cantidad_ago %>
        </td>

        <td>
          <%= nineteensale.cost_ago %>
        </td>

        <td>
          <%= nineteensale.vta_sep %>
        </td>

        <td>
          <%= nineteensale.cantidad_sep %>
        </td>

        <td>
          <%= nineteensale.cost_sep %>
        </td>

        <td>
          <%= nineteensale.vta_oct %>
        </td>

        <td>
          <%= nineteensale.cantidad_oct %>
        </td>

        <td>
          <%= nineteensale.cost_oct %>
        </td>

        <td>
          <%= nineteensale.vta_nov %>
        </td>

        <td>
          <%= nineteensale.cantidad_nov %>
        </td>

        <td>
          <%= nineteensale.cost_nov %>
        </td>

        <td>
          <%= nineteensale.vta_dic %>
        </td>

        <td>
          <%= nineteensale.cantidad_dic %>
        </td>

        <td>
          <%= nineteensale.cost_dic %>
        </td>

        <td>
          <%= nineteensale.dia %>
        </td>

        <td>
          <%= time_ago_in_words(nineteensale.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(nineteensale.updated_at) %> ago
        </td>

        <td>
          <a href="/nineteensales/<%= nineteensale.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @nineteensales, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
