<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All nineteensales
    </h1>

    <a href="/nineteensales/new" class="btn btn-block btn-outline-secondary">
      Add a new nineteensale
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "nineteensale_templates/nineteensales_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Custnmbr
        </th>

        <th>
          Salsterr
        </th>

        <th>
          Slprsnid
        </th>

        <th>
          Gerente
        </th>

        <th>
          Sopnumbe
        </th>

        <th>
          Itemnmbr
        </th>

        <th>
          Vta
        </th>

        <th>
          Cantidad
        </th>

        <th>
          Cost
        </th>

        <th>
          Vta ene
        </th>

        <th>
          Cantidad ene
        </th>

        <th>
          Cost ene
        </th>

        <th>
          Vta feb
        </th>

        <th>
          Cantidad feb
        </th>

        <th>
          Cost feb
        </th>

        <th>
          Vta mar
        </th>

        <th>
          Cantidad mar
        </th>

        <th>
          Cost mar
        </th>

        <th>
          Vta abr
        </th>

        <th>
          Cantidad abr
        </th>

        <th>
          Cost abr
        </th>

        <th>
          Vta may
        </th>

        <th>
          Cantidad may
        </th>

        <th>
          Cost may
        </th>

        <th>
          Vta jun
        </th>

        <th>
          Cantidad jun
        </th>

        <th>
          Cost jun
        </th>

        <th>
          Vta jul
        </th>

        <th>
          Cantidad jul
        </th>

        <th>
          Cost jul
        </th>

        <th>
          Vta ago
        </th>

        <th>
          Cantidad ago
        </th>

        <th>
          Cost ago
        </th>

        <th>
          Vta sep
        </th>

        <th>
          Cantidad sep
        </th>

        <th>
          Cost sep
        </th>

        <th>
          Vta oct
        </th>

        <th>
          Cantidad oct
        </th>

        <th>
          Cost oct
        </th>

        <th>
          Vta nov
        </th>

        <th>
          Cantidad nov
        </th>

        <th>
          Cost nov
        </th>

        <th>
          Vta dic
        </th>

        <th>
          Cantidad dic
        </th>

        <th>
          Cost dic
        </th>

        <th>
          Dia
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @nineteensales.each do |nineteensale| %>
      <tr>
        <!-- Display nineteensale.id start -->
        <td>
          <%= nineteensale.id %>
        </td>
        <!-- Display nineteensale.id end -->

        <!-- Display nineteensale.custnmbr start -->
        <td>
          <%= nineteensale.custnmbr %>
        </td>
        <!-- Display nineteensale.custnmbr end -->

        <!-- Display nineteensale.salsterr start -->
        <td>
          <%= nineteensale.salsterr %>
        </td>
        <!-- Display nineteensale.salsterr end -->

        <!-- Display nineteensale.slprsnid start -->
        <td>
          <%= nineteensale.slprsnid %>
        </td>
        <!-- Display nineteensale.slprsnid end -->

        <!-- Display nineteensale.gerente start -->
        <td>
          <%= nineteensale.gerente %>
        </td>
        <!-- Display nineteensale.gerente end -->

        <!-- Display nineteensale.sopnumbe start -->
        <td>
          <%= nineteensale.sopnumbe %>
        </td>
        <!-- Display nineteensale.sopnumbe end -->

        <!-- Display nineteensale.itemnmbr start -->
        <td>
          <%= nineteensale.itemnmbr %>
        </td>
        <!-- Display nineteensale.itemnmbr end -->

        <!-- Display nineteensale.vta start -->
        <td>
          <%= nineteensale.vta %>
        </td>
        <!-- Display nineteensale.vta end -->

        <!-- Display nineteensale.cantidad start -->
        <td>
          <%= nineteensale.cantidad %>
        </td>
        <!-- Display nineteensale.cantidad end -->

        <!-- Display nineteensale.cost start -->
        <td>
          <%= nineteensale.cost %>
        </td>
        <!-- Display nineteensale.cost end -->

        <!-- Display nineteensale.vta_ene start -->
        <td>
          <%= nineteensale.vta_ene %>
        </td>
        <!-- Display nineteensale.vta_ene end -->

        <!-- Display nineteensale.cantidad_ene start -->
        <td>
          <%= nineteensale.cantidad_ene %>
        </td>
        <!-- Display nineteensale.cantidad_ene end -->

        <!-- Display nineteensale.cost_ene start -->
        <td>
          <%= nineteensale.cost_ene %>
        </td>
        <!-- Display nineteensale.cost_ene end -->

        <!-- Display nineteensale.vta_feb start -->
        <td>
          <%= nineteensale.vta_feb %>
        </td>
        <!-- Display nineteensale.vta_feb end -->

        <!-- Display nineteensale.cantidad_feb start -->
        <td>
          <%= nineteensale.cantidad_feb %>
        </td>
        <!-- Display nineteensale.cantidad_feb end -->

        <!-- Display nineteensale.cost_feb start -->
        <td>
          <%= nineteensale.cost_feb %>
        </td>
        <!-- Display nineteensale.cost_feb end -->

        <!-- Display nineteensale.vta_mar start -->
        <td>
          <%= nineteensale.vta_mar %>
        </td>
        <!-- Display nineteensale.vta_mar end -->

        <!-- Display nineteensale.cantidad_mar start -->
        <td>
          <%= nineteensale.cantidad_mar %>
        </td>
        <!-- Display nineteensale.cantidad_mar end -->

        <!-- Display nineteensale.cost_mar start -->
        <td>
          <%= nineteensale.cost_mar %>
        </td>
        <!-- Display nineteensale.cost_mar end -->

        <!-- Display nineteensale.vta_abr start -->
        <td>
          <%= nineteensale.vta_abr %>
        </td>
        <!-- Display nineteensale.vta_abr end -->

        <!-- Display nineteensale.cantidad_abr start -->
        <td>
          <%= nineteensale.cantidad_abr %>
        </td>
        <!-- Display nineteensale.cantidad_abr end -->

        <!-- Display nineteensale.cost_abr start -->
        <td>
          <%= nineteensale.cost_abr %>
        </td>
        <!-- Display nineteensale.cost_abr end -->

        <!-- Display nineteensale.vta_may start -->
        <td>
          <%= nineteensale.vta_may %>
        </td>
        <!-- Display nineteensale.vta_may end -->

        <!-- Display nineteensale.cantidad_may start -->
        <td>
          <%= nineteensale.cantidad_may %>
        </td>
        <!-- Display nineteensale.cantidad_may end -->

        <!-- Display nineteensale.cost_may start -->
        <td>
          <%= nineteensale.cost_may %>
        </td>
        <!-- Display nineteensale.cost_may end -->

        <!-- Display nineteensale.vta_jun start -->
        <td>
          <%= nineteensale.vta_jun %>
        </td>
        <!-- Display nineteensale.vta_jun end -->

        <!-- Display nineteensale.cantidad_jun start -->
        <td>
          <%= nineteensale.cantidad_jun %>
        </td>
        <!-- Display nineteensale.cantidad_jun end -->

        <!-- Display nineteensale.cost_jun start -->
        <td>
          <%= nineteensale.cost_jun %>
        </td>
        <!-- Display nineteensale.cost_jun end -->

        <!-- Display nineteensale.vta_jul start -->
        <td>
          <%= nineteensale.vta_jul %>
        </td>
        <!-- Display nineteensale.vta_jul end -->

        <!-- Display nineteensale.cantidad_jul start -->
        <td>
          <%= nineteensale.cantidad_jul %>
        </td>
        <!-- Display nineteensale.cantidad_jul end -->

        <!-- Display nineteensale.cost_jul start -->
        <td>
          <%= nineteensale.cost_jul %>
        </td>
        <!-- Display nineteensale.cost_jul end -->

        <!-- Display nineteensale.vta_ago start -->
        <td>
          <%= nineteensale.vta_ago %>
        </td>
        <!-- Display nineteensale.vta_ago end -->

        <!-- Display nineteensale.cantidad_ago start -->
        <td>
          <%= nineteensale.cantidad_ago %>
        </td>
        <!-- Display nineteensale.cantidad_ago end -->

        <!-- Display nineteensale.cost_ago start -->
        <td>
          <%= nineteensale.cost_ago %>
        </td>
        <!-- Display nineteensale.cost_ago end -->

        <!-- Display nineteensale.vta_sep start -->
        <td>
          <%= nineteensale.vta_sep %>
        </td>
        <!-- Display nineteensale.vta_sep end -->

        <!-- Display nineteensale.cantidad_sep start -->
        <td>
          <%= nineteensale.cantidad_sep %>
        </td>
        <!-- Display nineteensale.cantidad_sep end -->

        <!-- Display nineteensale.cost_sep start -->
        <td>
          <%= nineteensale.cost_sep %>
        </td>
        <!-- Display nineteensale.cost_sep end -->

        <!-- Display nineteensale.vta_oct start -->
        <td>
          <%= nineteensale.vta_oct %>
        </td>
        <!-- Display nineteensale.vta_oct end -->

        <!-- Display nineteensale.cantidad_oct start -->
        <td>
          <%= nineteensale.cantidad_oct %>
        </td>
        <!-- Display nineteensale.cantidad_oct end -->

        <!-- Display nineteensale.cost_oct start -->
        <td>
          <%= nineteensale.cost_oct %>
        </td>
        <!-- Display nineteensale.cost_oct end -->

        <!-- Display nineteensale.vta_nov start -->
        <td>
          <%= nineteensale.vta_nov %>
        </td>
        <!-- Display nineteensale.vta_nov end -->

        <!-- Display nineteensale.cantidad_nov start -->
        <td>
          <%= nineteensale.cantidad_nov %>
        </td>
        <!-- Display nineteensale.cantidad_nov end -->

        <!-- Display nineteensale.cost_nov start -->
        <td>
          <%= nineteensale.cost_nov %>
        </td>
        <!-- Display nineteensale.cost_nov end -->

        <!-- Display nineteensale.vta_dic start -->
        <td>
          <%= nineteensale.vta_dic %>
        </td>
        <!-- Display nineteensale.vta_dic end -->

        <!-- Display nineteensale.cantidad_dic start -->
        <td>
          <%= nineteensale.cantidad_dic %>
        </td>
        <!-- Display nineteensale.cantidad_dic end -->

        <!-- Display nineteensale.cost_dic start -->
        <td>
          <%= nineteensale.cost_dic %>
        </td>
        <!-- Display nineteensale.cost_dic end -->

        <!-- Display nineteensale.dia start -->
        <td>
          <%= nineteensale.dia %>
        </td>
        <!-- Display nineteensale.dia end -->

        <!-- Display nineteensale.created_at start -->
        <td>
          <%= time_ago_in_words(nineteensale.created_at) %> ago
        </td>
        <!-- Display nineteensale.created_at end -->

        <!-- Display nineteensale.updated_at start -->
        <td>
          <%= time_ago_in_words(nineteensale.updated_at) %> ago
        </td>
        <!-- Display nineteensale.updated_at end -->

        <td>
          <a href="/nineteensales/<%= nineteensale.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @nineteensales, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
