<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Nineteensale #<%= @nineteensale.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/nineteensales" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/nineteensales/<%= @nineteensale.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit nineteensale
        </a>
      </div>

      <div class="col">
        <a href="/delete_nineteensale/<%= @nineteensale.id %>" class="btn btn-block btn-outline-secondary">
          Delete nineteensale
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Custnmbr
      </dt>
      <dd>
        <%= @nineteensale.custnmbr %>
      </dd>

      <dt>
        Salsterr
      </dt>
      <dd>
        <%= @nineteensale.salsterr %>
      </dd>

      <dt>
        Slprsnid
      </dt>
      <dd>
        <%= @nineteensale.slprsnid %>
      </dd>

      <dt>
        Gerente
      </dt>
      <dd>
        <%= @nineteensale.gerente %>
      </dd>

      <dt>
        Sopnumbe
      </dt>
      <dd>
        <%= @nineteensale.sopnumbe %>
      </dd>

      <dt>
        Itemnmbr
      </dt>
      <dd>
        <%= @nineteensale.itemnmbr %>
      </dd>

      <dt>
        Vta
      </dt>
      <dd>
        <%= @nineteensale.vta %>
      </dd>

      <dt>
        Cantidad
      </dt>
      <dd>
        <%= @nineteensale.cantidad %>
      </dd>

      <dt>
        Cost
      </dt>
      <dd>
        <%= @nineteensale.cost %>
      </dd>

      <dt>
        Vta ene
      </dt>
      <dd>
        <%= @nineteensale.vta_ene %>
      </dd>

      <dt>
        Cantidad ene
      </dt>
      <dd>
        <%= @nineteensale.cantidad_ene %>
      </dd>

      <dt>
        Cost ene
      </dt>
      <dd>
        <%= @nineteensale.cost_ene %>
      </dd>

      <dt>
        Vta feb
      </dt>
      <dd>
        <%= @nineteensale.vta_feb %>
      </dd>

      <dt>
        Cantidad feb
      </dt>
      <dd>
        <%= @nineteensale.cantidad_feb %>
      </dd>

      <dt>
        Cost feb
      </dt>
      <dd>
        <%= @nineteensale.cost_feb %>
      </dd>

      <dt>
        Vta mar
      </dt>
      <dd>
        <%= @nineteensale.vta_mar %>
      </dd>

      <dt>
        Cantidad mar
      </dt>
      <dd>
        <%= @nineteensale.cantidad_mar %>
      </dd>

      <dt>
        Cost mar
      </dt>
      <dd>
        <%= @nineteensale.cost_mar %>
      </dd>

      <dt>
        Vta abr
      </dt>
      <dd>
        <%= @nineteensale.vta_abr %>
      </dd>

      <dt>
        Cantidad abr
      </dt>
      <dd>
        <%= @nineteensale.cantidad_abr %>
      </dd>

      <dt>
        Cost abr
      </dt>
      <dd>
        <%= @nineteensale.cost_abr %>
      </dd>

      <dt>
        Vta may
      </dt>
      <dd>
        <%= @nineteensale.vta_may %>
      </dd>

      <dt>
        Cantidad may
      </dt>
      <dd>
        <%= @nineteensale.cantidad_may %>
      </dd>

      <dt>
        Cost may
      </dt>
      <dd>
        <%= @nineteensale.cost_may %>
      </dd>

      <dt>
        Vta jun
      </dt>
      <dd>
        <%= @nineteensale.vta_jun %>
      </dd>

      <dt>
        Cantidad jun
      </dt>
      <dd>
        <%= @nineteensale.cantidad_jun %>
      </dd>

      <dt>
        Cost jun
      </dt>
      <dd>
        <%= @nineteensale.cost_jun %>
      </dd>

      <dt>
        Vta jul
      </dt>
      <dd>
        <%= @nineteensale.vta_jul %>
      </dd>

      <dt>
        Cantidad jul
      </dt>
      <dd>
        <%= @nineteensale.cantidad_jul %>
      </dd>

      <dt>
        Cost jul
      </dt>
      <dd>
        <%= @nineteensale.cost_jul %>
      </dd>

      <dt>
        Vta ago
      </dt>
      <dd>
        <%= @nineteensale.vta_ago %>
      </dd>

      <dt>
        Cantidad ago
      </dt>
      <dd>
        <%= @nineteensale.cantidad_ago %>
      </dd>

      <dt>
        Cost ago
      </dt>
      <dd>
        <%= @nineteensale.cost_ago %>
      </dd>

      <dt>
        Vta sep
      </dt>
      <dd>
        <%= @nineteensale.vta_sep %>
      </dd>

      <dt>
        Cantidad sep
      </dt>
      <dd>
        <%= @nineteensale.cantidad_sep %>
      </dd>

      <dt>
        Cost sep
      </dt>
      <dd>
        <%= @nineteensale.cost_sep %>
      </dd>

      <dt>
        Vta oct
      </dt>
      <dd>
        <%= @nineteensale.vta_oct %>
      </dd>

      <dt>
        Cantidad oct
      </dt>
      <dd>
        <%= @nineteensale.cantidad_oct %>
      </dd>

      <dt>
        Cost oct
      </dt>
      <dd>
        <%= @nineteensale.cost_oct %>
      </dd>

      <dt>
        Vta nov
      </dt>
      <dd>
        <%= @nineteensale.vta_nov %>
      </dd>

      <dt>
        Cantidad nov
      </dt>
      <dd>
        <%= @nineteensale.cantidad_nov %>
      </dd>

      <dt>
        Cost nov
      </dt>
      <dd>
        <%= @nineteensale.cost_nov %>
      </dd>

      <dt>
        Vta dic
      </dt>
      <dd>
        <%= @nineteensale.vta_dic %>
      </dd>

      <dt>
        Cantidad dic
      </dt>
      <dd>
        <%= @nineteensale.cantidad_dic %>
      </dd>

      <dt>
        Cost dic
      </dt>
      <dd>
        <%= @nineteensale.cost_dic %>
      </dd>

      <dt>
        Dia
      </dt>
      <dd>
        <%= @nineteensale.dia %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@nineteensale.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@nineteensale.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

