<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Nineteensale #<%= @nineteensale.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/nineteensales" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link nineteensale start -->
      <div class="col">
        <a href="/nineteensales/<%= @nineteensale.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit nineteensale
        </a>
      </div>
      <!-- Edit link nineteensale end -->

      <!-- Delete link nineteensale start -->
      <div class="col">
        <a href="/delete_nineteensale/<%= @nineteensale.id %>" class="btn btn-block btn-outline-secondary">
          Delete nineteensale
        </a>
      </div>
      <!-- Delete link nineteensale end -->
    </div>

    <dl>
      <dt>
        Custnmbr
      </dt>
      <!-- Display custnmbr start -->
      <dd>
        <%= @nineteensale.custnmbr %>
      </dd>
      <!-- Display custnmbr end -->

      <dt>
        Salsterr
      </dt>
      <!-- Display salsterr start -->
      <dd>
        <%= @nineteensale.salsterr %>
      </dd>
      <!-- Display salsterr end -->

      <dt>
        Slprsnid
      </dt>
      <!-- Display slprsnid start -->
      <dd>
        <%= @nineteensale.slprsnid %>
      </dd>
      <!-- Display slprsnid end -->

      <dt>
        Gerente
      </dt>
      <!-- Display gerente start -->
      <dd>
        <%= @nineteensale.gerente %>
      </dd>
      <!-- Display gerente end -->

      <dt>
        Sopnumbe
      </dt>
      <!-- Display sopnumbe start -->
      <dd>
        <%= @nineteensale.sopnumbe %>
      </dd>
      <!-- Display sopnumbe end -->

      <dt>
        Itemnmbr
      </dt>
      <!-- Display itemnmbr start -->
      <dd>
        <%= @nineteensale.itemnmbr %>
      </dd>
      <!-- Display itemnmbr end -->

      <dt>
        Vta
      </dt>
      <!-- Display vta start -->
      <dd>
        <%= @nineteensale.vta %>
      </dd>
      <!-- Display vta end -->

      <dt>
        Cantidad
      </dt>
      <!-- Display cantidad start -->
      <dd>
        <%= @nineteensale.cantidad %>
      </dd>
      <!-- Display cantidad end -->

      <dt>
        Cost
      </dt>
      <!-- Display cost start -->
      <dd>
        <%= @nineteensale.cost %>
      </dd>
      <!-- Display cost end -->

      <dt>
        Vta ene
      </dt>
      <!-- Display vta_ene start -->
      <dd>
        <%= @nineteensale.vta_ene %>
      </dd>
      <!-- Display vta_ene end -->

      <dt>
        Cantidad ene
      </dt>
      <!-- Display cantidad_ene start -->
      <dd>
        <%= @nineteensale.cantidad_ene %>
      </dd>
      <!-- Display cantidad_ene end -->

      <dt>
        Cost ene
      </dt>
      <!-- Display cost_ene start -->
      <dd>
        <%= @nineteensale.cost_ene %>
      </dd>
      <!-- Display cost_ene end -->

      <dt>
        Vta feb
      </dt>
      <!-- Display vta_feb start -->
      <dd>
        <%= @nineteensale.vta_feb %>
      </dd>
      <!-- Display vta_feb end -->

      <dt>
        Cantidad feb
      </dt>
      <!-- Display cantidad_feb start -->
      <dd>
        <%= @nineteensale.cantidad_feb %>
      </dd>
      <!-- Display cantidad_feb end -->

      <dt>
        Cost feb
      </dt>
      <!-- Display cost_feb start -->
      <dd>
        <%= @nineteensale.cost_feb %>
      </dd>
      <!-- Display cost_feb end -->

      <dt>
        Vta mar
      </dt>
      <!-- Display vta_mar start -->
      <dd>
        <%= @nineteensale.vta_mar %>
      </dd>
      <!-- Display vta_mar end -->

      <dt>
        Cantidad mar
      </dt>
      <!-- Display cantidad_mar start -->
      <dd>
        <%= @nineteensale.cantidad_mar %>
      </dd>
      <!-- Display cantidad_mar end -->

      <dt>
        Cost mar
      </dt>
      <!-- Display cost_mar start -->
      <dd>
        <%= @nineteensale.cost_mar %>
      </dd>
      <!-- Display cost_mar end -->

      <dt>
        Vta abr
      </dt>
      <!-- Display vta_abr start -->
      <dd>
        <%= @nineteensale.vta_abr %>
      </dd>
      <!-- Display vta_abr end -->

      <dt>
        Cantidad abr
      </dt>
      <!-- Display cantidad_abr start -->
      <dd>
        <%= @nineteensale.cantidad_abr %>
      </dd>
      <!-- Display cantidad_abr end -->

      <dt>
        Cost abr
      </dt>
      <!-- Display cost_abr start -->
      <dd>
        <%= @nineteensale.cost_abr %>
      </dd>
      <!-- Display cost_abr end -->

      <dt>
        Vta may
      </dt>
      <!-- Display vta_may start -->
      <dd>
        <%= @nineteensale.vta_may %>
      </dd>
      <!-- Display vta_may end -->

      <dt>
        Cantidad may
      </dt>
      <!-- Display cantidad_may start -->
      <dd>
        <%= @nineteensale.cantidad_may %>
      </dd>
      <!-- Display cantidad_may end -->

      <dt>
        Cost may
      </dt>
      <!-- Display cost_may start -->
      <dd>
        <%= @nineteensale.cost_may %>
      </dd>
      <!-- Display cost_may end -->

      <dt>
        Vta jun
      </dt>
      <!-- Display vta_jun start -->
      <dd>
        <%= @nineteensale.vta_jun %>
      </dd>
      <!-- Display vta_jun end -->

      <dt>
        Cantidad jun
      </dt>
      <!-- Display cantidad_jun start -->
      <dd>
        <%= @nineteensale.cantidad_jun %>
      </dd>
      <!-- Display cantidad_jun end -->

      <dt>
        Cost jun
      </dt>
      <!-- Display cost_jun start -->
      <dd>
        <%= @nineteensale.cost_jun %>
      </dd>
      <!-- Display cost_jun end -->

      <dt>
        Vta jul
      </dt>
      <!-- Display vta_jul start -->
      <dd>
        <%= @nineteensale.vta_jul %>
      </dd>
      <!-- Display vta_jul end -->

      <dt>
        Cantidad jul
      </dt>
      <!-- Display cantidad_jul start -->
      <dd>
        <%= @nineteensale.cantidad_jul %>
      </dd>
      <!-- Display cantidad_jul end -->

      <dt>
        Cost jul
      </dt>
      <!-- Display cost_jul start -->
      <dd>
        <%= @nineteensale.cost_jul %>
      </dd>
      <!-- Display cost_jul end -->

      <dt>
        Vta ago
      </dt>
      <!-- Display vta_ago start -->
      <dd>
        <%= @nineteensale.vta_ago %>
      </dd>
      <!-- Display vta_ago end -->

      <dt>
        Cantidad ago
      </dt>
      <!-- Display cantidad_ago start -->
      <dd>
        <%= @nineteensale.cantidad_ago %>
      </dd>
      <!-- Display cantidad_ago end -->

      <dt>
        Cost ago
      </dt>
      <!-- Display cost_ago start -->
      <dd>
        <%= @nineteensale.cost_ago %>
      </dd>
      <!-- Display cost_ago end -->

      <dt>
        Vta sep
      </dt>
      <!-- Display vta_sep start -->
      <dd>
        <%= @nineteensale.vta_sep %>
      </dd>
      <!-- Display vta_sep end -->

      <dt>
        Cantidad sep
      </dt>
      <!-- Display cantidad_sep start -->
      <dd>
        <%= @nineteensale.cantidad_sep %>
      </dd>
      <!-- Display cantidad_sep end -->

      <dt>
        Cost sep
      </dt>
      <!-- Display cost_sep start -->
      <dd>
        <%= @nineteensale.cost_sep %>
      </dd>
      <!-- Display cost_sep end -->

      <dt>
        Vta oct
      </dt>
      <!-- Display vta_oct start -->
      <dd>
        <%= @nineteensale.vta_oct %>
      </dd>
      <!-- Display vta_oct end -->

      <dt>
        Cantidad oct
      </dt>
      <!-- Display cantidad_oct start -->
      <dd>
        <%= @nineteensale.cantidad_oct %>
      </dd>
      <!-- Display cantidad_oct end -->

      <dt>
        Cost oct
      </dt>
      <!-- Display cost_oct start -->
      <dd>
        <%= @nineteensale.cost_oct %>
      </dd>
      <!-- Display cost_oct end -->

      <dt>
        Vta nov
      </dt>
      <!-- Display vta_nov start -->
      <dd>
        <%= @nineteensale.vta_nov %>
      </dd>
      <!-- Display vta_nov end -->

      <dt>
        Cantidad nov
      </dt>
      <!-- Display cantidad_nov start -->
      <dd>
        <%= @nineteensale.cantidad_nov %>
      </dd>
      <!-- Display cantidad_nov end -->

      <dt>
        Cost nov
      </dt>
      <!-- Display cost_nov start -->
      <dd>
        <%= @nineteensale.cost_nov %>
      </dd>
      <!-- Display cost_nov end -->

      <dt>
        Vta dic
      </dt>
      <!-- Display vta_dic start -->
      <dd>
        <%= @nineteensale.vta_dic %>
      </dd>
      <!-- Display vta_dic end -->

      <dt>
        Cantidad dic
      </dt>
      <!-- Display cantidad_dic start -->
      <dd>
        <%= @nineteensale.cantidad_dic %>
      </dd>
      <!-- Display cantidad_dic end -->

      <dt>
        Cost dic
      </dt>
      <!-- Display cost_dic start -->
      <dd>
        <%= @nineteensale.cost_dic %>
      </dd>
      <!-- Display cost_dic end -->

      <dt>
        Dia
      </dt>
      <!-- Display dia start -->
      <dd>
        <%= @nineteensale.dia %>
      </dd>
      <!-- Display dia end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@nineteensale.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@nineteensale.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
