<h1>
  Edit profile #<%= @profile.id %>
</h1>

<hr>

<form action="/update_profile/<%= @profile.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @profile.user_id %>">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @profile.name %>">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @profile.last_name %>">
  </div>

  <div class="form-group">
    <label for="nick_name">
      Nick name
    </label>

    <input type="text" id="nick_name" name="nick_name" class="form-control" value="<%= @profile.nick_name %>">
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control" value="<%= @profile.phone %>">
  </div>

  <div class="form-group">
    <label for="mobile">
      Mobile
    </label>

    <input type="text" id="mobile" name="mobile" class="form-control" value="<%= @profile.mobile %>">
  </div>

  <div class="form-group">
    <label for="profile_pic">
      Profile pic
    </label>

    <%= cl_image_tag(@profile.profile_pic.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="profile_pic" name="profile_pic" class="form-control">
  </div>

  <div class="form-group">
    <label for="rank_id">
      Rank
    </label>

    <input type="text" id="rank_id" name="rank_id" class="form-control" value="<%= @profile.rank_id %>">
  </div>

  <div class="form-group">
    <label for="city_base">
      City base
    </label>

    <input type="text" id="city_base" name="city_base" class="form-control" value="<%= @profile.city_base %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <textarea id="address" name="address" class="form-control" rows="3"><%= @profile.address %></textarea>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="active">
    <input id="active" class="form-check-input" name="active" type="checkbox" value="1" <%= "checked" if @profile.active %>>
    <label for="active" class="form-check-label">
      Active
    </label>
  </div>

  <div class="form-group">
    <label for="slprsnid">
      Slprsnid
    </label>

    <input type="text" id="slprsnid" name="slprsnid" class="form-control" value="<%= @profile.slprsnid %>">
  </div>

  <div class="form-group">
    <label for="salsterr_id">
      Salsterr
    </label>

    <input type="text" id="salsterr_id" name="salsterr_id" class="form-control" value="<%= @profile.salsterr_id %>">
  </div>

  <div class="form-group">
    <label for="start">
      Start
    </label>

    <input type="text" id="start" name="start" class="form-control" value="<%= @profile.start %>">
  </div>

  <div class="form-group">
    <label for="full_name">
      Full name
    </label>

    <input type="text" id="full_name" name="full_name" class="form-control" value="<%= @profile.full_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
