<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Profile #<%= @profile.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/profiles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit profile
        </a>
      </div>

      <div class="col">
        <a href="/delete_profile/<%= @profile.id %>" class="btn btn-block btn-outline-secondary">
          Delete profile
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @profile.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @profile.name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @profile.last_name %>
      </dd>

      <dt>
        Nick name
      </dt>
      <dd>
        <%= @profile.nick_name %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @profile.phone %>
      </dd>

      <dt>
        Mobile
      </dt>
      <dd>
        <%= @profile.mobile %>
      </dd>

      <dt>
        Profile pic
      </dt>
      <dd>
        <img src="<%= @profile.profile_pic %>" class="img-fluid">
      </dd>

      <dt>
        Rank
      </dt>
      <dd>
        <%= @profile.rank_id %>
      </dd>

      <dt>
        City base
      </dt>
      <dd>
        <%= @profile.city_base %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @profile.address %>
      </dd>

      <dt>
        Active
      </dt>
      <dd>
        <%= @profile.active %>
      </dd>

      <dt>
        Slprsnid
      </dt>
      <dd>
        <%= @profile.slprsnid %>
      </dd>

      <dt>
        Salsterr
      </dt>
      <dd>
        <%= @profile.salsterr_id %>
      </dd>

      <dt>
        Start
      </dt>
      <dd>
        <%= @profile.start %>
      </dd>

      <dt>
        Full name
      </dt>
      <dd>
        <%= @profile.full_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

