
<div class="col-md-12">
  <h1>
    Resumen de Ventas: <%= @profile.name %>
  </h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 style="margin:0px">
        <span style="text-align:left"><b> Perfil General del Ejecutivo</b></span>
      </h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <!-- agregar foto -->
        </div>
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt >Asesor de Ventas</dt>
            <dd ><%= @profile.name %> <%= @profile.last_name %></dd>
            <dt>Código de Colaborador</dt>
            <dd> <%=@profile.slprsnid %></dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Gerencia</dt>
            <dd><%= @profile.salsterr.name %></dd>
            <dt>Ciudad Base</dt>
            <dd><%= @profile.city_base %></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin:0px">
          <span style="text-align:left"><b> General </b></span>
        </h4>
      </div>
      <p>
<h5>Ventas 2019</h5>
</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 style="margin:0px">
          <span style="text-align:left"><b> Mis Clientes </b></span>
        </h4>
      </div>
<div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table col-md-12">
            <tr>


              <th>
                Código
              </th>

              <th>
                Nombre
              </th>

              <th>
                Segmento
              </th>

              <th>
                Presupuesto
              </th>

              <th>
                Ventas
              </th>

              <th>
              </th>
            </tr>

            <% @customers.each do |customer| %>
            <tr>

              <td>
                <%= customer.custnmbr %>
              </td>

              <td>
                <%= customer.custname %>
              </td>
                            <td>
                              Ferretería
                            </td>

              <td>
                <%= number_to_currency(Budget.where("custnmbr"=>customer.custnmbr)[0].ene+Budget.where("custnmbr"=>customer.custnmbr)[0].feb+Budget.where("custnmbr"=>customer.custnmbr)[0].mar+Budget.where("custnmbr"=>customer.custnmbr)[0].abr) %>
              </td>

              <td>
                100,000.00
              </td>

              <td>
                <a href="/customers/<%= customer.id %>">
                  Detalles
                </a>
              </td>
            </tr>
            <% end %>
          </table>

          <div class="row mb-3">
            <div class="col-md-12">
              <%= paginate @customers, theme: "twitter-bootstrap-4" %>
            </div>
          </div>

        </div>
      </div>

    </div>
    </div>

  </div>
</div>
