<% if @agreement.errors.any? %>
  <% @agreement.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit agreement #<%= @agreement.id %>
</h1>

<hr>

<form action="/update_agreement/<%= @agreement.id %>" method="post">

  <div class="form-group">
    <label for="custnmbr">
      Custnmbr
    </label>

    <input type="text" id="custnmbr" name="custnmbr" class="form-control" value="<%= @agreement.custnmbr %>">
  </div>

  <div class="form-group">
    <label for="timespan">
      Timespan
    </label>

    <input type="text" id="timespan" name="timespan" class="form-control" value="<%= @agreement.timespan %>">
  </div>

  <div class="form-group">
    <label for="start">
      Start
    </label>

    <input type="text" id="start" name="start" class="form-control" value="<%= @agreement.start %>">
  </div>

  <div class="form-group">
    <label for="end">
      End
    </label>

    <input type="text" id="end" name="end" class="form-control" value="<%= @agreement.end %>">
  </div>

  <div class="form-group">
    <label for="amount_level1">
      Amount level1
    </label>

    <input type="text" id="amount_level1" name="amount_level1" class="form-control" value="<%= @agreement.amount_level1 %>">
  </div>

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @agreement.category %>">
  </div>

  <div class="form-group">
    <label for="pcnt_level1">
      Pcnt level1
    </label>

    <input type="text" id="pcnt_level1" name="pcnt_level1" class="form-control" value="<%= @agreement.pcnt_level1 %>">
  </div>

  <div class="form-group">
    <label for="pcnt_level2">
      Pcnt level2
    </label>

    <input type="text" id="pcnt_level2" name="pcnt_level2" class="form-control" value="<%= @agreement.pcnt_level2 %>">
  </div>

  <div class="form-group">
    <label for="pcnt_level3">
      Pcnt level3
    </label>

    <input type="text" id="pcnt_level3" name="pcnt_level3" class="form-control" value="<%= @agreement.pcnt_level3 %>">
  </div>

  <div class="form-group">
    <label for="amount_level2">
      Amount level2
    </label>

    <input type="text" id="amount_level2" name="amount_level2" class="form-control" value="<%= @agreement.amount_level2 %>">
  </div>

  <div class="form-group">
    <label for="amount_level3">
      Amount level3
    </label>

    <input type="text" id="amount_level3" name="amount_level3" class="form-control" value="<%= @agreement.amount_level3 %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update agreement
  </button>
</form>

<hr>

<a href="/agreements">
  Go back
</a>
