<h1>
  Edit agreement #<%= @agreement.id %>
</h1>

<hr>

<!-- Form agreement start -->
<form action="/update_agreement/<%= @agreement.id %>" method="post">
<!-- Form agreement end -->

  <!-- Label and input for custnmbr start -->
  <div class="form-group">
    <label for="custnmbr">
      Custnmbr
    </label>

    <!-- Input for custnmbr start -->
    <input type="text" id="custnmbr" name="custnmbr" class="form-control" value="<%= @agreement.custnmbr %>">
    <!-- Input for custnmbr end -->
  </div>
  <!-- Label and input for custnmbr end -->

  <!-- Label and input for timespan start -->
  <div class="form-group">
    <label for="timespan">
      Timespan
    </label>

    <!-- Input for timespan start -->
    <input type="text" id="timespan" name="timespan" class="form-control" value="<%= @agreement.timespan %>">
    <!-- Input for timespan end -->
  </div>
  <!-- Label and input for timespan end -->

  <!-- Label and input for start start -->
  <div class="form-group">
    <label for="start">
      Start
    </label>

    <!-- Input for start start -->
    <input type="text" id="start" name="start" class="form-control" value="<%= @agreement.start %>">
    <!-- Input for start end -->
  </div>
  <!-- Label and input for start end -->

  <!-- Label and input for end start -->
  <div class="form-group">
    <label for="end">
      End
    </label>

    <!-- Input for end start -->
    <input type="text" id="end" name="end" class="form-control" value="<%= @agreement.end %>">
    <!-- Input for end end -->
  </div>
  <!-- Label and input for end end -->

  <!-- Label and input for amount_level1 start -->
  <div class="form-group">
    <label for="amount_level1">
      Amount level1
    </label>

    <!-- Input for amount_level1 start -->
    <input type="text" id="amount_level1" name="amount_level1" class="form-control" value="<%= @agreement.amount_level1 %>">
    <!-- Input for amount_level1 end -->
  </div>
  <!-- Label and input for amount_level1 end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control" value="<%= @agreement.category %>">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <!-- Label and input for pcnt_level1 start -->
  <div class="form-group">
    <label for="pcnt_level1">
      Pcnt level1
    </label>

    <!-- Input for pcnt_level1 start -->
    <input type="text" id="pcnt_level1" name="pcnt_level1" class="form-control" value="<%= @agreement.pcnt_level1 %>">
    <!-- Input for pcnt_level1 end -->
  </div>
  <!-- Label and input for pcnt_level1 end -->

  <!-- Label and input for pcnt_level2 start -->
  <div class="form-group">
    <label for="pcnt_level2">
      Pcnt level2
    </label>

    <!-- Input for pcnt_level2 start -->
    <input type="text" id="pcnt_level2" name="pcnt_level2" class="form-control" value="<%= @agreement.pcnt_level2 %>">
    <!-- Input for pcnt_level2 end -->
  </div>
  <!-- Label and input for pcnt_level2 end -->

  <!-- Label and input for pcnt_level3 start -->
  <div class="form-group">
    <label for="pcnt_level3">
      Pcnt level3
    </label>

    <!-- Input for pcnt_level3 start -->
    <input type="text" id="pcnt_level3" name="pcnt_level3" class="form-control" value="<%= @agreement.pcnt_level3 %>">
    <!-- Input for pcnt_level3 end -->
  </div>
  <!-- Label and input for pcnt_level3 end -->

  <!-- Label and input for amount_level2 start -->
  <div class="form-group">
    <label for="amount_level2">
      Amount level2
    </label>

    <!-- Input for amount_level2 start -->
    <input type="text" id="amount_level2" name="amount_level2" class="form-control" value="<%= @agreement.amount_level2 %>">
    <!-- Input for amount_level2 end -->
  </div>
  <!-- Label and input for amount_level2 end -->

  <!-- Label and input for amount_level3 start -->
  <div class="form-group">
    <label for="amount_level3">
      Amount level3
    </label>

    <!-- Input for amount_level3 start -->
    <input type="text" id="amount_level3" name="amount_level3" class="form-control" value="<%= @agreement.amount_level3 %>">
    <!-- Input for amount_level3 end -->
  </div>
  <!-- Label and input for amount_level3 end -->

  <button class="btn btn-block btn-outline-secondary">
    Update agreement
  </button>
</form>

<hr>

<a href="/agreements">
  Go back
</a>
