<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All agreements
    </h1>

    <a href="/agreements/new" class="btn btn-block btn-outline-secondary">
      Add a new agreement
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "agreement_templates/agreements_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Custnmbr
        </th>

        <th>
          Timespan
        </th>

        <th>
          Start
        </th>

        <th>
          End
        </th>

        <th>
          Amount level1
        </th>

        <th>
          Category
        </th>

        <th>
          Pcnt level1
        </th>

        <th>
          Pcnt level2
        </th>

        <th>
          Pcnt level3
        </th>

        <th>
          Amount level2
        </th>

        <th>
          Amount level3
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @agreements.each do |agreement| %>
      <tr>
        <td>
          <%= agreement.id %>
        </td>

        <td>
          <%= agreement.custnmbr %>
        </td>

        <td>
          <%= agreement.timespan %>
        </td>

        <td>
          <%= agreement.start %>
        </td>

        <td>
          <%= agreement.end %>
        </td>

        <td>
          <%= agreement.amount_level1 %>
        </td>

        <td>
          <%= agreement.category %>
        </td>

        <td>
          <%= agreement.pcnt_level1 %>
        </td>

        <td>
          <%= agreement.pcnt_level2 %>
        </td>

        <td>
          <%= agreement.pcnt_level3 %>
        </td>

        <td>
          <%= agreement.amount_level2 %>
        </td>

        <td>
          <%= agreement.amount_level3 %>
        </td>

        <td>
          <%= time_ago_in_words(agreement.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(agreement.updated_at) %> ago
        </td>

        <td>
          <a href="/agreements/<%= agreement.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @agreements, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
