<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Agreement #<%= @agreement.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/agreements" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/agreements/<%= @agreement.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit agreement
        </a>
      </div>

      <div class="col">
        <a href="/delete_agreement/<%= @agreement.id %>" class="btn btn-block btn-outline-secondary">
          Delete agreement
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Custnmbr
      </dt>
      <dd>
        <%= @agreement.custnmbr %>
      </dd>

      <dt>
        Timespan
      </dt>
      <dd>
        <%= @agreement.timespan %>
      </dd>

      <dt>
        Start
      </dt>
      <dd>
        <%= @agreement.start %>
      </dd>

      <dt>
        End
      </dt>
      <dd>
        <%= @agreement.end %>
      </dd>

      <dt>
        Amount level1
      </dt>
      <dd>
        <%= @agreement.amount_level1 %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @agreement.category %>
      </dd>

      <dt>
        Pcnt level1
      </dt>
      <dd>
        <%= @agreement.pcnt_level1 %>
      </dd>

      <dt>
        Pcnt level2
      </dt>
      <dd>
        <%= @agreement.pcnt_level2 %>
      </dd>

      <dt>
        Pcnt level3
      </dt>
      <dd>
        <%= @agreement.pcnt_level3 %>
      </dd>

      <dt>
        Amount level2
      </dt>
      <dd>
        <%= @agreement.amount_level2 %>
      </dd>

      <dt>
        Amount level3
      </dt>
      <dd>
        <%= @agreement.amount_level3 %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@agreement.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@agreement.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

