<h1>
  Edit customer #<%= @customer.id %>
</h1>

<hr>

<form action="/update_customer/<%= @customer.id %>" method="post">

  <div class="form-group">
    <label for="custnmbr">
      Custnmbr
    </label>

    <input type="text" id="custnmbr" name="custnmbr" class="form-control" value="<%= @customer.custnmbr %>">
  </div>

  <div class="form-group">
    <label for="custname">
      Custname
    </label>

    <input type="text" id="custname" name="custname" class="form-control" value="<%= @customer.custname %>">
  </div>

  <div class="form-group">
    <label for="customer_segment_id">
      Customer segment
    </label>

    <input type="text" id="customer_segment_id" name="customer_segment_id" class="form-control" value="<%= @customer.customer_segment_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update customer
  </button>
</form>

<hr>

<a href="/customers">
  Go back
</a>
